<html>
<link rel="stylesheet" href="main.css" />
<script src="js/fetchival.js"></script> <!-- https://github.com/typicode/fetchival -->
<script src="js/vue.global.js"></script>

<!-- Cell Component -->
<script type="text/x-template" id="cell-template">
    <div>
      <div v-show="edit == false">
        <label @dblclick="editing"> {{ cell }}</label>
      </div>
      <input ref="cellinput" type="text" v-show="edit == true" v-model="cell" @focus="focused" @blur="edit = false" @keyup.enter="edit == false">
    </div>
  </script>
<!-- Grid Component -->
<script type="text/x-template" id="grid-template">
    <table>
      <thead>
        <tr>
          <th v-for="key in columns" @click="sortBy(key)" :class="{ active: sortKey == key }">
            {{ key }}
            <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
            </span>
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="entry in filteredData">
          <td v-for="key in columns">
            <label v-if="key=='id'" @click="openModal()"> <a href="#">{{ entry.id }}</a></label>
            <cell-grid v-else :entry="entry" :k="key"></cell-grid>
          </td>
          <td>
            <button @click="deleteRow(entry)" >delete</button>
        </td>
        </tr>
        <tr>
            <td v-for="key in columns" >
                <cell-grid :edit=true :entry="newEntry" :k="key"></cell-grid>
            </td>
            <td>
                <button @click="insertRow()">insert</button>
            </td>
        </tr>
      </tbody>
    </table>
  </script>

<script type="text/x-template" id="cell-template">
    <div>
      <div v-show="edit == false">
        <label @dblclick="editing"> {{ cell }}</label>
      </div>
      <input ref="cellinput" type="text" v-show="edit == true" v-model="cell" @click="" @focus="focused" @blur="edit = false" @keyup.enter="edit == false">
    </div>
  </script>

  <script type="text/x-template" id="newcell-template">
    <div>
      <input ref="cellinput" type="text" v-model="cell">
    </div>
  </script>

<!-- root element -->
<div id="demo">
    <em>Lights</em>
    <grid :data="lightData" :columns="lightColumns">
    </grid>
    <em>Buttons</em>
    <grid :data="gridData" :columns="gridColumns" :filter-key="searchQuery" @update-data="fetchData">
    </grid>
    <em>Sequences</em>
    <grid :data="sequenceData" :columns="sequenceColumns">
    </grid>
    <p>
        <em>[Double Click to edit the cell data]</em>
    </p>
    <div>
        Code
        <pre v-html="exportCode(gridData)"></pre>
    </div>
</div>

<script>
    const app = Vue.createApp({
        el: '#demo',
        data: function () {
            return {
                searchQuery: '',
                gridColumns: ['id', 'name', 'input'],
                gridData: [],
                sequenceColumns: ['id', 'name'],
                sequenceData: [],
                lightColumns: ['id', 'name', 'type', 'offset'],
                lightData: []
            }
        },

        created() {
            this.fetchData()
        },
        methods: {
            async fetchData() {
                this.error = this.post = null
                this.loading = true
                this.lightData = await fetchival('/lights').get();
                this.gridData = await fetchival('/button').get();
                this.sequenceData = await fetchival('/sequence').get();
            },
            exportCode: function (json) {
                let p =
                    `struct Button{
  uint8_t id;
  uint8_t inputNr;
};
const Button buttons[] PROGMEM = {\n`;
                json.forEach(function (value) {
                    console.log(value);
                    p += `{ ${value.id}, ${value.input} },\n`
                });
                p += `};\n\n`
                p += `for( const Foo &foo : bar ){
    Serial.print( pgm_read_byte( &foo.a ) );
    Serial.print( ", " );
    Serial.println( pgm_read_word( &foo.b ) );
}`
                return p;
            },
        }
    })

    app.component('cell-grid', {
        template: '#cell-template',
        props: ['entry', 'k'],
        data: function () {
            return {
                edit: false,
            }
        },
        computed: {
            cell: {
                get: function () {
                        console.log("get", this.entry[this.k])
                        return this.entry[this.k]
                },
                set: function (newCellValue) {
                    console.log("set", newCellValue)
                    this.$emit('input', isNaN(newCellValue) ? newCellValue : parseInt(newCellValue))
                }
            }
        },
        methods: {
            focused: function () {
                console.log('focused')
            },
            editing: function () {
                this.edit = true;
                this.$nextTick(function () {
                    this.$refs.cellinput.focus()
                })
            }
        }
    })
    app.component('grid', {
        template: '#grid-template',
        props: {
            data: Array,
            columns: Array,
            filterKey: String
        },
        data: function () {
            let sortOrders = {}
            this.columns.forEach(function (key) {
                sortOrders[key] = 1
            });
            let newEntry = {}
            this.columns.forEach(function (key) {
                newEntry[key] = "(empty)"
            });
            return {
                sortKey: '',
                sortOrders: sortOrders,
                newEntry: newEntry
            }
        },
        computed: {
            filteredData: function () {
                var sortKey = this.sortKey
                var filterKey = this.filterKey && this.filterKey.toLowerCase()
                var order = this.sortOrders[sortKey] || 1
                var data = this.data
                if (filterKey) {
                    data = data.filter(function (row) {
                        return Object.keys(row).some(function (key) {
                            return String(row[key]).toLowerCase().indexOf(filterKey) > -1
                        })
                    })
                }
                if (sortKey) {
                    data = data.slice().sort(function (a, b) {
                        a = a[sortKey]
                        b = b[sortKey]
                        return (a === b ? 0 : a > b ? 1 : -1) * order
                    })
                }
                return data
            }
        },
        filters: {
            capitalize: function (str) {
                return str.charAt(0).toUpperCase() + str.slice(1)
            }
        },
        methods: {
            idClicked: function (a) {
                console.log(a);
            },
            sortBy: function (key) {
                this.sortKey = key
                this.sortOrders[key] = this.sortOrders[key] * -1
            },
            openModal: function () {
                console.log("modal");
            },
            insertRow: function (a) {
                console.log("insert");

            },
            deleteRow: async function (entry) {
                console.log("delete");
                await fetchival('/button/'+entry.id).delete();
                this.$emit("update-data")
            }
        }
    })

    app.mount('#demo');
</script>

</html>