<html>
<link rel="stylesheet" href="main.css" />
<script src="js/fetchival.js"></script> <!-- https://github.com/typicode/fetchival -->
<script src="js/vue.global.js"></script>

<!-- Cell Component -->
<script type="text/x-template" id="modal-template">
    <transition name="fade">
      <div class="modal" v-if="show">
        <div class="modal__backdrop" @click="closeModal()"/>
  
        <div class="modal__dialog">
          <div class="modal__header">
            <slot name="header"/>
            <button type="button" class="modal__close" @click="closeModal()">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512">
                <path
                  fill="currentColor"
                  d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"
                ></path>
              </svg>
            </button>
          </div>
  
          <div class="modal__body">
            <slot name="body"/>
          </div>
  
          <div class="modal__footer">
            <slot name="footer"/>
          </div>
        </div>
      </div>
    </transition>
</script>
<!-- Cell Component -->
<script type="text/x-template" id="cell-template">
    <div>
      <div v-show="edit == false">
        <label @dblclick="editing"> {{ cell }}</label>
      </div>
      <input ref="cellinput" type="text" v-show="edit == true" v-model="cell" @focus="focused" @blur="edit = false" @keyup.enter="edit == false">
    </div>
  </script>
<!-- Grid Component -->
<script type="text/x-template" id="grid-template">
    <modal ref="myModal"></modal>
    <table>
      <thead>
        <tr>
          <th v-for="key in columns" @click="sortBy(key)" :class="{ active: sortKey == key }">
            {{ key }}
            <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
            </span>
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="entry in filteredData">
          <td v-for="key in columns">
            <label v-if="key=='id'" @click="$refs.myModal.openModal()"> <a href="#">{{ entry.id }}</a></label>
            <cell-grid v-else @inputIdKey="updateValue" :entry="entry" :k="key"></cell-grid>
          </td>
          <td>
            <button @click="deleteRow(entry)" >delete</button>
        </td>
        </tr>
        <tr>
            <td v-for="key in columns" >
                <cell-grid @inputIdKey="setInput" :edit=true :entry="newEntry" :k="key"></cell-grid>
            </td>
            <td>
                <button @click="insertRow(entry)">insert</button>
            </td>
        </tr>
      </tbody>  
    </table>
  </script>

<script type="text/x-template" id="cell-template">
    <div >
      <div v-show="edit == false" @dblclick="editing" >
        <label> {{ cell }} </label>
      </div>
      <input ref="cellinput" type="text" v-show="edit == true" v-model="cell" @click="" @focus="focused" @blur="edit = false" @keyup.enter="edit == false">
    </div>
  </script>

  <script type="text/x-template" id="newcell-template">
    <div>
      <input ref="cellinput" type="text" v-model="cell">
    </div>
  </script>

<!-- root element -->
<div id="demo">
    <em>Lights</em>
    <grid :data="configData.lightData" :columns="lightColumns">
    </grid>
    <em>Buttons</em>
    <grid :data="configData.buttonData" :columns="buttonColumns" :filter-key="searchQuery" @delete-row="deleteButtonRow" @insert-row="insertButtonRow">
    </grid>
    <em>Sequences</em>
    <grid :data="configData.sequenceData" :columns="sequenceColumns">
    </grid>
    <p>
        <em>[Double Click to edit the cell data]</em>
    </p>
    <button @click="saveData()" >save</button>

    <div>
        Code
        <pre v-html="exportCode(this.buttonData)"></pre>
    </div>
</div>

<script>
    const app = Vue.createApp({
        el: '#demo',
        data: function () {
            return {
                searchQuery: '',
                buttonColumns: ['id', 'name', 'input', 'sequence_a', 'sequence_b', 'sequence_c', 'sequence_d'],
                buttonData: [],
                sequenceColumns: ['id', 'name'],
                sequenceData: [],
                lightColumns: ['id', 'name', 'type', 'offset'],
                lightData: []
            }
        },

        created() {
            this.loadData()
        },
        methods: {
            async fetchData() {
                this.error = this.post = null
                this.loading = true
                this.lightData = await fetchival('/lights').get();
                this.buttonData = await fetchival('/button').get();
                this.sequenceData = await fetchival('/sequence').get();
            },
            async deleteButtonRow(id) {
                this.$data.configData.buttonData = this.$data.configData.buttonData.filter(item => item.id !== id);
            },
            async insertButtonRow(item) {
                this.$data.buttonData.push(item);
            },
            async saveData() {
                let configData={'lightData':this.lightData,
                                 'buttonData':this.buttonData,
                                 'sequenceData':this.sequenceData};
                window.localStorage.setItem("configData", JSON.stringify(configData));

            },
            async loadData() {
                this.$data.configData = JSON.parse(window.localStorage.getItem("configData"));
            },
            exportCode() {
                let code=`struct ButtonS{
    uint8_t id;
    uint8_t inputNr;
    uint8_t sequence_A;
    uint8_t sequence_B;
    uint8_t sequence_C;
    uint8_t sequence_D;

};\n\n`

                code+=`struct ButtonS PROGMEM const mystruct[] = {\n`;

              for(let i=0;i<this.buttonData.length;i++) {
                  let button=this.buttonData[i];
                  code+=`{ ${button.id}, ${button.input}, ${button.sequence_a}, ${button.sequence_b}, ${button.sequence_c}, ${button.sequence_d} },\n`
              }
              code+=`};\n`;
              return code;
            },
        }
    })

    app.component('modal', {
        template: '#modal-template',
        data: function () {
            return {
                show: false,
            }
        },
        methods: {
            closeModal() {
                this.show = false;
                document.querySelector("body").classList.remove("overflow-hidden");
                },
            openModal() {
                this.show = true;
                document.querySelector("body").classList.add("overflow-hidden");
            }
        }
    })

    app.component('cell-grid', {
        template: '#cell-template',
        props: ['entry', 'k'],
        data: function () {
            return {
                edit: false,
            }
        },
        computed: {
            cell: {
                get: function () {
                        console.log("get", this.entry[this.k])
                        return this.entry[this.k]
                },
                set: function (newCellValue) {
                    console.log("set", newCellValue)
                    this.$emit('inputIdKey', this.entry.id, this.k, isNaN(newCellValue) ? newCellValue : parseInt(newCellValue))
                }
            }
        },
        methods: {
            focused: function () {
                console.log('focused')
            },
            editing: function () {
                this.edit = true;
                this.$nextTick(function () {
                    this.$refs.cellinput.focus()
                })
            }
        }
    })
    app.component('grid', {
        template: '#grid-template',
        props: {
            data: Array,
            columns: Array,
            filterKey: String
        },
        data: function () {
            let sortOrders = {}
            this.columns.forEach(function (key) {
                sortOrders[key] = 1
            });
            let newEntry = {}
            this.columns.forEach(function (key) {
                if(key=="id")
                    newEntry[key]="(auto)";
                else
                 newEntry[key] = ""
            });
            return {
                sortKey: '',
                sortOrders: sortOrders,
                newEntry: newEntry
            }
        },
        computed: {
            filteredData: function () {
                var sortKey = this.sortKey
                var filterKey = this.filterKey && this.filterKey.toLowerCase()
                var order = this.sortOrders[sortKey] || 1
                var data = this.data
                if (filterKey) {
                    data = data.filter(function (row) {
                        return Object.keys(row).some(function (key) {
                            return String(row[key]).toLowerCase().indexOf(filterKey) > -1
                        })
                    })
                }
                if (sortKey) {
                    data = data.slice().sort(function (a, b) {
                        a = a[sortKey]
                        b = b[sortKey]
                        return (a === b ? 0 : a > b ? 1 : -1) * order
                    })
                }
                return data
            }
        },
        filters: {
            capitalize: function (str) {
                return str.charAt(0).toUpperCase() + str.slice(1)
            }
        },
        methods: {
            idClicked: function (a) {
                console.log(a);
            },
            sortBy: function (key) {
                this.sortKey = key
                this.sortOrders[key] = this.sortOrders[key] * -1
            },
            openModal: function () {
                console.log("modal");
            },
            insertRow: async function () {
                console.log("insert");
                this.$emit("insert-row", this.newEntry);
            },
            deleteRow: async function (entry) {
                console.log("delete");
                this.$emit("delete-row", entry.id);
            },
            setInput: function(id, key, value) {
                console.log("setInput")
                this.newEntry[key]=value;
                console.log(this.newEntry)

                this.$emit("update-data")

            },
            updateValue: async function(id, key, value) {
                console.log("updateValue")
                await fetchival('/button/'+id).patch({'field': key, 'value': value});
                this.$emit("update-data")

            }
        }
    })

    app.mount('#demo');
</script>

</html>